In [37]:
import pandas as pd
from pathlib import Path

from config import FILE_PATH_MOVIES, FILE_PATH_RATING, MERGIN_ID

In [ ]:
'''
Como el dataset ratings es tan grande nos da muchos problemas deberiamos reducirlo, para seguir manteniendo todas las peliculas lo que podemos hacer es una
media de todos los ratings y asi reducir el dataset.
'''

In [15]:
# informacion
ratings = pd.read_csv(FILE_PATH_RATING)
movies = pd.read_csv(FILE_PATH_MOVIES)

In [5]:
ratings.head()

   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858

In [ ]:
len(ratings) # ยก32 millones de muestras!

32000204

In [ ]:
movie_counts = ratings[MERGIN_ID].value_counts()
movie_counts

movieId
318       102929
356       100296
296        98409
2571       93808
593        90330
           ...
206505         1
229167         1
138948         1
121961         1
137537         1
Name: count, Length: 84432, dtype: int64

In [ ]:
grouped_ratings = ratings.groupby(MERGIN_ID).agg(
    rating=('rating', 'mean'),
    rating_count=('rating', 'size')
).reset_index()

grouped_ratings # Despues de estas operaciones ya tenemos la misma cantidad de ratings que peliculas

       movieId    rating  rating_count
0            1  3.897438         68997
1            2  3.275758         28904
2            3  3.139447         13134
3            4  2.845331          2806
4            5  3.059602         13154
...        ...       ...           ...
84427   292731  4.000000             1
84428   292737  1.500000             1
84429   292753  4.000000             1
84430   292755  1.000000             1
84431   292757  3.500000             1

[84432 rows x 3 columns]

In [28]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [29]:
# Hacemos un merge
full_movies_df = pd.merge(grouped_ratings, movies, on=MERGIN_ID)
full_movies_df.head()

,movieId,rating,rating_count,title,genres
0,1,3.897438,68997,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.275758,28904,Jumanji (1995),Adventure|Children|Fantasy
2,3,3.139447,13134,Grumpier Old Men (1995),Comedy|Romance
3,4,2.845331,2806,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,3.059602,13154,Father of the Bride Part II (1995),Comedy

In [31]:
# hagamos un estudio de duplicados / nulos / etc...
full_movies_df.isna().any()

movieId         False
rating          False
rating_count    False
title           False
genres          False
dtype: bool

In [ ]:
full_movies_df['movieId'].duplicated().sum() # Como la suma de todos los duplicados es 0 significa que no hay duplicados

np.int64(0)

In [ ]:
# lo guardamos
full_movies_df.to_csv('../data/full_df.csv')

: